name: Publish Docker Images to YCR

on:
  push:
    branches: [ "main" ]
    tags: [ 'v*.*.*' ]
    if: "startsWith(github.ref, 'refs/tags/')"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to Yandex Cloud Container Registry
        id: login-cr
        uses: yc-actions/yc-cr-login@v2
        with:
          yc-sa-json-credentials: ${{ secrets.YC_SA_JSON_CREDENTIALS }}

      - name: Build, tag, and push image to Yandex Cloud Container Registry
        env:
          CR_REGISTRY: crpsb911gv7utbg93o6t
          CR_REPO: flatris
          IMAGE_TAG: ${{ github.sha }}
        uses: docker/build-push-action@v6
        with:
          context: ./apps/flatris
          file: ./apps/flatris/Dockerfile
          push: true
          tags: cr.yandex/${{ env.CR_REGISTRY }}/${{ env.CR_REPO }}:${{ env.IMAGE_TAG }}, cr.yandex/${{ env.CR_REGISTRY }}/${{ env.CR_REPO }}:latest
